@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chivo:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');



.homebox{
	position: relative;
    display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	width: auto;
    height: fit-content;
	flex-wrap: wrap;
    margin-top: 170px;
}
.homepagecss{
	color: #000000;
	font-size:50px;
	letter-spacing: 1px;
	font-family: "jost" , serif;
    font-weight: 300;
}
.homehr{
	width: 70%; /* Medium size width */
	max-width:5000px; /* Limit max width */
	margin: 20px auto; /* Center horizontally */
	border: 1px solid rgb(0, 0, 0); /* Customize line */
  }
  
  @media (max-width: 768px) {
	hr {
	  width: 70%; /* Wider on smaller screens */
	}
  }
  
  @media (max-width: 480px) {
	hr {
	  width: 90%; /* Even wider for small screens */
	}
  }

  .usertext{
	 letter-spacing: 1px;
	 color: rgb(53, 127, 231);
	 text-align: center;
  }

  .hb{
  color: rgb(0, 0, 0);
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  letter-spacing: -3px;
  }
.card-container{
	margin-top: 25px;
	margin-left: 40px;	
}
.card{
	background-color: black;
	border-radius: 8px;
	box-shadow: 0 5px 9px rgba(255, 255, 255, 0.1);
	width: 300px;
	height: auto;
	overflow: hidden;
	transition: transform 0.6s ease;
}
.card:hover{
	transform: translateY(-10px);
}

.cardimage{
	height: 200px;
	width: 300px;
	
}

.dataimg{
	overflow: hidden;
	width: 100%;
	height: auto;
}
.card-content{
	margin-top: 100px;
	width: 100%;
	height: 200px;
	object-fit: cover;
	display: block;
	color:#fff;
	background-color: #fff;
	text-align: center;
}